/* Variables */
:root {
  --basic-dark-black: #000000;
  --basic-black: #283136;
  --basic-light-grey: #666666;
  --basic-grey: #eeeeee;
  --basic-darker-grey: #444444;
  --basic-dark-grey: #888888;
  --basic-light-red: #fb565a;
  --basic-red: #e74246;
  --basic-dark-red: #d7373b;
  --basic-light-green: #00ca74;
  --basic-green: #00bc6c;
  --basic-dark-green: #00aa62;
  --basic-light-yellow: #efc84a;
  --basic-yellow: #eab534;
  --basic-dark-yellow: #e5a722;
  --basic-white: #ffffff;
  --basic-opacity-white: rgb(255, 255, 255, 0.3);
  --basic-lighter-grey: #dfdfdf;
  --basic-grey-grey: #d5d5d5;
  --basic-clear-white: rgba(0, 0, 0, 0.0001);
  --basic-opacity-black: rgb(0, 0, 0, 0.3);
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* body */

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}

/* main-header*/

.main-header {
  background-color: var(--basic-grey);
}

/* main-navigation*/

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-dark-black);
  text-transform: uppercase;
  background-color: var(--basic-grey);
}

.main-header-bar {
  background-color: var(--basic-grey);
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  margin: 0 auto;
  padding: 0 10px;
}

/*main-header-logo*/

.main-header-logo {
  display: grid;
  opacity: 1;
}

.main-header-logo:hover {
  opacity: 1;
}

.main-header-logo:focus,
.main-header-logo:active {
  opacity: 0.3;
}

/* site navigation */

.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  color: var(--basic-dark-black);
  text-decoration: none;
}

.site-navigation a:hover {
  color: var(--basic-light-red);
}

.site-navigation a:focus {
  color: var(--basic-dark-black);
  opacity: 0.3;
}

.site-navigation a:active {
  color: var(--basic-dark-black);
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: var(--basic-dark-black);
  border-bottom: 2px solid var(--basic-light-red);
}

.basket {
  color: var(--basic-dark-black);
  text-decoration: none;
  text-align: right;
}

.basket:hover {
  color: var(--basic-light-red);
}

.basket a:focus {
  color: var(--basic-dark-black);
  opacity: 0.3;
}

.basket a:active {
  color: var(--basic-dark-black);
}

/*container*/

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* slider */

.slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  background-color: var(--basic-grey);
}
.news-slider {

}

.news-slider h3 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--basic-dark-black);
}

.news-slider p {
  font-size: 16px;
  line-height: 24px;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-light-red);
  border-radius: 3px;
  border: none;
}

.button:hover {
  background-color: var(--basic-red);
  border: none;
}

.button:focus,
.button:active {
  color: var(--basic-opacity-white);
  background-color: var(--basic-dark-red);
  border: none;
}

/* product */
.product {
  display: grid;
  margin-bottom: 80px;
}
.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 38px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.product-item {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}

.product-button-site {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-light-red);
  border-radius: 3px;
  border: none;
}

.product-button-site:hover {
  background-color: var(--basic-red);
  border: none;
}

.product-button-site:focus,
.product-button-site:active {
  color: var(--basic-opacity-white);
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border: none;
}

.product-button-apps {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-light-green);
  border-radius: 3px;
  border: none;
}

.product-button-apps:hover {
  background-color: var(--basic-green);
  border: none;
}

.product-button-apps:focus,
.product-button-apps:active {
  color: var(--basic-opacity-white);
  background-color: var(--basic-dark-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border: none;
}

.product-button-presentation {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-light-yellow);
  border-radius: 3px;
  border: none;
}

.product-button-presentation:hover {
  background-color: var(--basic-yellow);
  border: none;
}

.product-button-presentation:focus,
.product-button-presentation:active {
  color: var(--basic-opacity-white);
  background-color: var(--basic-dark-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border: none;
}

/* company */

.company {
  display: grid;
  grid-template-columns: 1fr min-content;
  margin-bottom: 73px;
}

.company-description {
  display: grid;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}
.company-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: var(--basic-dark-black);
}

.company-product {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.company-product-list {
  list-style: none;
}

/*company-statistics*/

.company-statistics {
  display: grid;
  width: 360px;
}

.company-statistics-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark-black);
}

.company-statistics-percent {
  font-size: 45px;
  font-weight: bold;
  line-height: 64px;
  color: var(--basic-dark-black);
}

.company-statistics-index {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}

/*projects*/

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.projects-item {
  display: grid;
  justify-self: center;
  list-style: none;
  opacity: 0.2;
}

.projects-item:hover {
  opacity: 1;
}

.projects-item:focus,
.projects-item:active {
  list-style: none;
  opacity: 0.1;
}

/* container */

.container-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--basic-dark-black);
  background-color: var(--basic-grey);
}

/*filters*/

/*catalog*/

.catalog-list {
  list-style: none;
}

.catalog-item {
  font-size: 16px;
  line-height: 18px;
}
.catalog-product {
  color: var(--basic-light-grey);
  background-color: var(--basic-grey);
  text-align: center;
}

.catalog-product h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: var(--basic-dark-black);
  text-transform: uppercase;
}

.catalog-product-title {
  color: var(--basic-dark-black);
  text-decoration: none;
}
.catalog-product-title:hover {
  color: var(--basic-light-red);
}

.catalog-product-title:focus,
.catalog-product-title:focus {
  color: var(--basic-opacity-black);
}

.catalog-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border: none;
}

.catalog-button:hover {
  background-color: var(--basic-red);
  border: none;
}

.catalog-button:focus,
.catalog-button:active {
  background-color: var(--basic-dark-red);
  border: none;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-dark-black);
  text-align: center;
}

.pagination-item a {
  text-decoration: none;
  background-color: var(--basic-grey);
}

.pagination-item a:hover {
  background-color: var(--basic-lighter-grey);
}

.pagination-item a:focus,
.pagination-item a:active {
  color: var(--basic-dark-black);
  background-color: var(--basic-grey-grey);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-dark-black);
  background-color: var(--basic-clear-white);
}

/*main-footer*/

.footer-contacts {
  display: grid;
  grid-template-columns: 1fr;
  width: 319px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-grey);
}

.footer-contacts h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark-black);
  background-color: var(--basic-white);
}

.contact {
  color: var(--basic-light-grey);
  text-decoration: none;
}

/*footer-social*/

.footer-social {
  display: grid;
  grid-template-columns: min-content 1fr;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-darker-grey);
}

.social-button-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 9px;
  align-items: start;
}

.social-button-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-invite {
  display: grid;
  align-items: end;
}
.footer-social-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: var(--basic-dark-black);
}
