@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto Regular"), local("Roboto-Regular"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-display: swap;
}

/* Variables */
:root {
  --basic-dark-black: #000000;
  --basic-black: #283136;
  --basic-light-grey: #666666;
  --basic-grey: #eeeeee;
  --basic-darker-grey: #444444;
  --basic-dark-grey: #888888;
  --basic-light-red: #fb565a;
  --basic-red: #e74246;
  --basic-dark-red: #d7373b;
  --basic-light-green: #00ca74;
  --basic-green: #00bc6c;
  --basic-dark-green: #00aa62;
  --basic-light-yellow: #efc84a;
  --basic-yellow: #eab534;
  --basic-dark-yellow: #e5a722;
  --basic-white: #ffffff;
  --basic-opacity-white: rgb(255, 255, 255, 0.3);
  --basic-lighter-grey: #dfdfdf;
  --basic-grey-grey: #d5d5d5;
  --basic-clear-white: rgba(0, 0, 0, 0.0001);
  --basic-opacity-black-30: rgb(0, 0, 0, 0.3);
  --basic-grey-social: #e1e1e1;
  --basic-grey-slider: #c1c1c1;
  --basis-grey-filter: #d7dcdf;
  --basis-grey-button: #ababab;
  --basis-shadow-grey: rgba(0, 1, 1, 0.1);
  --basis-shadow-black: rgba(0, 0, 0, 0.15);
  --basis-button-border: #dbdbdb;
  --basis-shadow-grey-40: rgba(0, 0, 0, 0.4);
  --basis-opacity-black-50: rgb(68, 68, 68, 0.5);
  --basis-grey-border: #d7dcde;
  --basis-dark-grey-border: #b4b9bb;
  --basis-dark-for-form: #4d4d4d;
  --basic-black-opacity-60: rgb(0, 0, 0, 0.6);
  --basic-grey-opacity-30: rgb(166, 166, 166, 0.3);
  --basic-grey-opacity-60: rgb(166, 166, 166, 0.6);
  --basic-black-for-button: #231f20;
}

/* body */

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* main-header*/

.main-header {
  background-color: var(--basic-grey);
}

/* main-navigation*/

.main-navigation {
  display: flex;
  align-items: center;
  width: 1160px;
  margin: 48px auto 0 auto;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-dark-black);
  text-transform: uppercase;
  background-color: var(--basic-grey);
}

.main-header-bar {
  background-color: var(--basic-grey);
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 202px;
}

/*main-header-logo*/

.main-header-logo {
  display: flex;
  width: 160px;
  height: 65px;
  opacity: 1;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 1;
}

.main-header-logo:active {
  opacity: 0.3;
}

/* site navigation */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 437px;
  margin: 0;
  padding: 0;
  margin-top: 23px;
  padding-right: 45px;
  list-style: none;
}

.site-navigation li:nth-child(4n) {
  padding-right: 0;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding-bottom: 2px;
  color: var(--basic-dark-black);
  text-decoration: none;
}

.site-navigation a:hover {
  color: var(--basic-light-red);
}

.site-navigation a:focus {
  color: var(--basic-opacity-black-30);
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-dark-black);
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  bottom: -11px;
  width: 74px;
  height: 2px;
  background-color: var(--basic-light-red);
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: var(--basic-dark-black);
}

.basket {
  display: flex;
  justify-content: flex-end;
  position: relative;
  max-width: 115px;
  margin-left: 242px;
 margin-top: 26px;
  text-align: right;
  list-style: none;
}

.basket::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -41px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: repeat;
  background-position: 0 0;
}

.basket:hover {
  color: var(--basic-light-red);
}

.basket:focus {
  color: var(--basic-opacity-black-30);
}

/*visually-hidden*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*container*/

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/* slider */

.slider {
  min-height: 431px;
  background-color: var(--basic-grey);
}

.news-slider {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding: 78px 20px;
  z-index: 1;
}

.news-slider-1::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 24px;
  width: 760px;
  height: 431px;
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
}

.news-slider-2::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 24px;
  width: 760px;
  height: 431px;
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
}

.news-slider-3::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 24px;
  width: 760px;
  height: 431px;
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
}

.news-slider1 {
  display: none;
}

.news-slider h3 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 538px;
  margin: 0 auto;
  padding: 0;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--basic-dark-black);
}

.news-slider p {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 538px;
  margin-top: 27px;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.button {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-light-red);
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--basic-red);
  border: none;
}


.button:active {
  color: var(--basic-opacity-white);
  background-color: var(--basic-dark-red);
  border: none;
}

.news-slider-button {
  position: absolute;
  width: 240px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 432px;
  left: 50%;
  width: 88px;
  transform: translate(-50%);
  z-index: 1;
}

.slider-controls button {
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
}

.slider-controls .current::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  background-image: url("../img/ellipse-slide.svg");
  background-repeat: no-repeat;
}

/* product */

.product {
  display: grid;
  margin-top: 73px;
  margin-bottom: 80px;
  border-bottom: 2px solid var(--basic-grey);
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 100px;
  margin-bottom: 90px;
  position: relative;
  width: 300px;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}

.product-item p {
  margin-bottom: 45px;
}

.product-item-site::before {
  content: "";
  position: absolute;
  top: 9px;
  width: 300px;
  height: 146px;
  background-image: url(../img/product-site.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-item-apps::before {
  content: "";
  position: absolute;
  top: 9px;
  width: 300px;
  height: 146px;
  background-image: url(../img/product-apps.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-item-presentation::before {
  content: "";
  position: absolute;
  top: 9px;
  width: 300px;
  height: 146px;
  background-image: url(../img/product-presentation.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-title {
  position: relative;
  margin-bottom: 16px;
  margin-top: 180px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark-black);
}

.product-button {
  width: 160px;
  padding: 17px 40px 15px 39px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-white);
}

.product-button-site {
  margin-bottom: 100px;
  background-color: var(--basic-light-red);
  border-radius: 3px;
  border: none;
}

.product-button-site:hover,
.product-button-site:focus {
  background-color: var(--basic-red);
  border: none;
}

.product-button-site:active {
  color: var(--basic-opacity-white);
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border: none;
}

.product-button-apps {
  background-color: var(--basic-light-green);
  border-radius: 3px;
  border: none;
}

.product-button-apps:hover,
.product-button-apps:focus {
  background-color: var(--basic-green);
}

.product-button-apps:active {
  color: var(--basic-opacity-white);
  background-color: var(--basic-dark-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border: none;
}

.product-button-presentation {
  background-color: var(--basic-light-yellow);
  border-radius: 3px;
  border: none;
}

.product-button-presentation:hover,
.product-button-presentation:focus, {
  background-color: var(--basic-yellow);
  border: none;
}

.product-button-presentation:active {
  color: var(--basic-opacity-white);
  background-color: var(--basic-dark-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border: none;
}

/* company */

.company {
  display: grid;
  grid-template-columns: 1fr min-content;
  margin-bottom: 7px;
}

.company-description {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}

.company-title {
  margin-top: -5px;
  margin-bottom: 33px;
  padding: 0;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: var(--basic-dark-black);
}

.company-product {
  margin-top: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.company-product-list {
  list-style: none;
}

.company-product-item {
  position: relative;
  margin-top: 24px;
  margin-left: -3px;
}

.company-product-item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -36px;
  width: 25px;
  border-top: 2px solid var(--basic-light-red);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*company-statistics*/

.company-statistics {
  display: grid;
  width: 360px;
  margin-bottom: 39px;
}

.company-statistics-logo {
  margin-top: -39px;
  margin-bottom: 40px;
  width: 360px;
  height: 208px;
}

.company-statistics-title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.company-statistics-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 23px;
}

.company-statistics-column {
  display: grid;
  box-sizing: border-box;
  max-width: 120px;
  padding-right: 10px;
}

.company-statistics-property {
  order: 1;
  padding-bottom: 11px;
  max-width: 110px;
  line-height: 18px;
  color: var(--basic-black-light);
}

.company-statistics-percent {
  margin: 0;
  margin-bottom: 12px;
  max-width: 110px;
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
}

.company-statistics-percentage {
  position: relative;
  bottom: 14px;
  font-size: 26px;
  line-height: 40px;
}

/*projects*/

.projects {
  padding-top: 46px;
  padding-bottom: 40px;
  border-top: 2px solid var(--basic-grey);
  border-bottom: 2px solid var(--basic-grey);
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  gap: 35px;
  list-style: none;
}

.projects-item {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.projects-item:not(:last-child):not(:nth-child(4n))::before {
  content: "";
  position: absolute;
  top: 40px;
  right: -19px;
  width: 2px;
  height: 52px;
  transform: translateY(-50%);
  background-color: var(--basic-grey);
}

.projects-link {
  display: block;
  position: relative;
}

.projects-link {
  position: relative;
  opacity: 0.2;
}

.projects-link:hover,
.projects-link:focus {
  opacity: 1;
}

.projects-link:active {
  opacity: 0.1;
}

.projects-logo-htmlacademy {
  top: 10px;
}

/* Grid for catalog */

.catalog-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;
  align-content: start;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-title-design {
  background-color: var(--basic-grey);
}

.page-title {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 108px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--basic-dark-black);
  background-color: var(--basic-grey);
  text-align: center;
}

/*filters*/

.filters {
  margin-top: 55px;
}

.filters-catalog {
  display: flex;
  width: 260px;
}

.filters fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  border: none;
}

.filters fieldset:first-child {
  margin-bottom: 55px;
}

.filter-item {
  margin-top: 53px;
  padding: 0;
  border: none;
}

.filters legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.filters ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 19px;
}

.filter-option {
  display: block;
  padding-left: 36px;
}

.filter-input {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
}

.filter-option label {
  display: block;
  position: relative;
  margin-top: 17px;
  margin-bottom: 20px;
}

.filter-advantage label {
  display: block;
  position: relative;
  margin-top: 16px;
  padding-bottom: 6px;
  margin-bottom: 16px;
}

.filter-input-radio {
  margin-top: -9px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 10px;
  padding-top: 38px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basis-grey-filter);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-light-green);
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basis-grey-button);
  border-radius: 50%;
  box-shadow: 0px 2px 1px var(--basis-shadow-black);
}

.range-controls .toggle-min {
  left: 17px;
}

.range-controls .toggle-max {
  left: 159px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  height: 38px;
  border: none;
  border-radius: 3px;
  background: var(--basic-grey);
}

.min-price input {
  width: 70px;
  height: 38px;
  margin-top: 2px;
  margin-left: 10px;
  padding-left: 4px;
  text-align: center;
}

.max-price input {
  width: 79px;
  height: 38px;
  margin-top: 2px;
  margin-left: 5px;
  text-align: center;
}

.filter-input-radio + label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: -4px;
  left: -35px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--basis-dark-for-form);
  opacity: 0.4;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: var(--basis-dark-for-form);
  opacity: 0.4;
  border-radius: 50%;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -36px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before,
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -36px;
  width: 25px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  border: none;
  opacity: 0.4;
}

.filter-input:hover + label::before,
.filter-input:checked:hover + label::after {
  opacity: 1;
}

.filter-input:disabled + label,
.filter-input:checked:disabled + label,
.filter-input:disabled:hover + label {
  opacity: 0.3;
  pointer-events: none;
}

.filter-input:focus + label::before {
  outline: thin dotted;
  outline: 5px auto;
  outline-color: inherit;
}

.filter-button {
  margin-top: 15px;
  width: 260px;
  height: 50px;
  color: var(--basic-dark-black);
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-lighter-grey);
}

.filter-button:active {
  color: var(--basic-opacity-black-30);
  background-color: var(--basic-grey-grey);
  box-shadow: inset 0px 3px 0px var(--basis-shadow-grey);
}

/*sort*/

.sort {
  grid-row: 1;
  grid-column: 2 / 4;
  margin-top: 56px;
  margin-left: 15px;
}

.catalog-sort {
  display: grid;
  grid-template-columns: min-content 1fr max-content 40px;
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.sort-title {
  grid-column: 1;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.sort-type {
  display: flex;
  flex-wrap: wrap;
  grid-column: 3;
  min-width: 320px;
  max-width: 530px;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  list-style: none;
}

.sort-type-item:not(:last-child) {
  margin-right: 27px;
}

.sort-type-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-opacity-black-30);
  text-decoration: none;
}

.sort-type-link:hover,
.sort-type-link:focus {
  color: var(--basic-black-opacity-60);
}

.sort-type-link:active {
  color: inherit;
}

.sort-type-link-current {
  color: inherit;
}

.sort-type-link-current:hover,
.sort-type-link-current:focus {
  color: inherit;
}

.sort-direction {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 48px;
  list-style: none;
}

.sort-direction-item {
  position: relative;
  display: block;
}

.sort-direction-link-down {
  position: absolute;
  top: 3px;
}

.sort-direction-link-up {
  position: absolute;
  top: 3px;
  right: 8px;
}

.sort-direction-link-down path,
.sort-direction-link-up path {
  fill: var(--basic-grey-opacity-30);
}

.sort-direction-link-down:hover path,
.sort-direction-link-up:hover path,
.sort-direction-link-down:focus path,
.sort-direction-link-up:focus path {
  fill: var(--basic-grey-opacity-60);
}

.sort-direction-link-down:active path,
.sort-direction-link-up:active path {
  fill: var(--basic-black-for-button);
}

.sort-direction-link-current path {
  fill: var(--basic-black-for-button);
}

/*catalog*/

.catalog {
  grid-row: 1;
  grid-column: 2 / 4;
  margin-left: -25px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 43px;
  list-style: none;
  margin-top: 173px;
  margin-bottom: 25px;
}

.catalog-item {
  position: relative;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 18px;
}

.catalog-image {
  object-fit: contain;
}

.catalog-image::before {
  content: "";
  position: absolute;
  top: -40px;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  opacity: 0.12;
}

.catalog-item:hover .catalog-image::before {
  opacity: 1;
}

.catalog-item:hover .catalog-product {
  visibility: visible;
}

.catalog-product {
  display: flex;
  flex-direction: column;
  bottom: 3px;
  left: -2px;
  width: 361px;
  max-height: 578px;
  min-height: 231px;
  position: absolute;
  color: var(--basic-light-grey);
  background-color: var(--basic-grey);
  text-align: center;
  visibility: collapse;
  border-radius: 3px;
}

.catalog-product-position {
  height: 100%;
  overflow: auto;
}

.catalog-product h3 {
  margin-top: 26px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: var(--basic-dark-black);
  text-transform: uppercase;
}

.catalog-product-title {
  color: var(--basic-dark-black);
  text-decoration: none;
}

.catalog-product-title:hover,
.catalog-product-title:focus {
  color: var(--basic-light-red);
}

.catalog-product-title:active {
  color: var(--basic-opacity-black-30);
}

.catalog-product-direction {
  margin-top: -5px;
  margin-bottom: 33px;
}

.catalog-button {
  width: 200px;
  height: 50px;
  padding-top: 7px;
  padding-left: 0px;
  margin-bottom: 44px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border: none;
  border-radius: 3px;
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: var(--basic-red);
  border: none;
}

.catalog-button:active {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -21px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  display: flex;
  align-items: center;
  margin-right: 11px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-dark-black);
  text-align: center;
}

.pagination-item a {
  display: block;
  position: relative;
  left: 39px;
  padding: 17px 20px 15px;
  text-decoration: none;
  color: var(--basic-dark-black);
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--basic-lighter-grey);
}

.pagination-item a:active {
  color: var(--basic-opacity-black-30);
  background-color: var(--basic-grey-grey);
  box-shadow: inset 0px 3px 0px var(--basis-shadow-grey);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  padding: 14px 17px 12px;
  color: var(--basic-dark-black);
  background-color: var(--basic-clear-white);
  border: 3px solid var(--basis-button-border);
  border-radius: 3px;
}

.pagination-button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 41px;
  padding-right: 77px;
  padding-left: 78px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  background-color: var(--basic-grey);
  background-position: 50% 50%;
  border: none;
  border-radius: 3px;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: var(--basic-lighter-grey);
}

.pagination-button:active {
  color: var(--basic-opacity-black-30);
  background-color: var(--basic-grey-grey);
  box-shadow: inset 0px 3px 0px var(--basis-shadow-grey);
}

/*main-footer*/

.footer-container-map {
  position: relative;
  margin: 80px auto 0;
  width: 1440px;
  min-height: 416px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

.footer-container-map::before {
  content: "";
  position: absolute;
  top: 86px;
  right: 386px;
  width: 231px;
  height: 190px;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
}

.footer-contacts {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  transform: translateY(54px);
}

.footer-contacts-window {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  width: 268px;
  height: 308px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-grey);
  background-color: var(--basic-white);
}

.footer-contacts-window h3 {
  margin-top: 50px;
  margin-bottom: 7px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark-black);
  background-color: var(--basic-white);
}

.contact {
  width: 210px;
  margin-top: 4px;
  margin-bottom: 37px;
  color: var(--basic-light-grey);
  text-decoration: none;
}

.contact-button {
  width: 219px;
  height: 50px;
  margin-bottom: 47px;
  padding-top: 17px;
  padding-bottom: 15px;
}

/*footer-social*/

.footer-social {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  padding-top: 69px;
  padding-bottom: 69px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item {
  position: relative;
}

.footer-social-item:not(:nth-child(3n - 2)) {
  margin-left: 13px;
}

.footer-social-item:nth-child(n + 4) {
  margin-top: 13px;
}

.footer-social-link {
  display: block;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: var(--basic-grey-social);
}

.footer-social-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 78px;
  height: 78px;
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  pointer-events: none;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--basic-red);
}

.footer-social-link:active {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0 3px 0 var(--basis-shadow-grey);
}

.footer-social-link:active::before {
  opacity: 0.3;
}

.footer-social-link-facebook::before {
  background-image: url("../img/facebook.svg");
  background-position: 51% 51%;
}

.footer-social-link-instagram::before {
   background-image: url("../img/instagram.svg");
}

.footer-invite {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
}

.footer-social-title {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: var(--basic-dark-black);
}

.footer-social-discount {
  margin: 0;
  padding: 0;
  line-height: 22px;
}

/*modal*/

.modal {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--basic-dark-black);
  background-color: var(--basic-white);
}

/*modal-contact*/

.modal-contact {
  position: fixed;
  width: 960px;
  padding-top: 63px;
  padding-bottom: 84px;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px var(--basis-shadow-grey-40);
  z-index: 1;
}

.modal-contact h2 {
  margin-top: 67px;
  margin-bottom: 20px;
  margin-left: 100px;
  font-size: 45px;
  font-weight: bold;
  line-height: 53px;
}

/*contact-form*/

.contact-form {
  display: flex;
  flex-wrap: wrap;
  margin-left: 101px;
  margin-bottom: 47px;
  font-weight: 700;
}

.contact-form label {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin-bottom: 10px;
}
.contact-form input[type="text"] {
  display: block;
  width: 325px;
  margin-right: 40px;
  padding: 15px 15px;
  color: var(--basis-opacity-black-50);
  border: 2px solid var(--basis-grey-border);
  border-radius: 3px;
}

.contact-form input:hover,
.contact-form textarea:hover {
  border-color: var(--basis-dark-grey-border);
}

.contact-form input:focus,
.contact-form textarea:focus {
  color: var(--basic-darker-grey);
  border-color: var(--basic-dark-black);
}

.contact-form input:invalid,
.contact-form textarea:invalid {
  color: var(--basic-red);
  border-color: var(--basic-red);
}

.contact-form textarea {
  display: flex;
  width: 737px;
  height: 98px;
  padding-top: 16px;
  padding-left: 16px;
  font: inherit;
  font-weight: 400;
  resize: none;
  color: var(--basis-opacity-black-50);
  border: 2px solid var(--basis-grey-border);
  border-radius: 3px;
}

.modal-close {
  position: absolute;
  top: 84px;
  right: 90px;
  width: 22px;
  height: 22px;
  background-image: url("../img/close-cross.svg");
  background-color: transparent;
  border: 0;
  opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.contact-form-button {
  width: 260px;
  height: 50px;
  margin-top: 29px;
  padding-top: 17px;
  padding-bottom: 40px;
}
